* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(54,0,25,1) 90%);
    font-family: sans-serif;
}

.sky {
    height: 2500px;
    width: 100%;
    background: url("./images/stars.png");
    background-repeat: repeat;
    position: relative;
    overflow: visible;
}
.ground {
    /*background: url("./images/cabin-transparent.png");*/
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
}
.grass {
    position: absolute;
    width: 100%;
    height: 1000px;
    
    /*
    
    width: 100%;
    
    */
    bottom: 0;
    left: 0;
}
.grass-bottom {
    z-index: 0;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background-color: rgb(21, 22, 42);
    z-index: 3;
}
.grass__layer--0 {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 100%;
    background: url("./svgs/ground/layer-0.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: url("./svgs/ground/layer-0.svg") no-repeat center center cover;
    background-size: contain;    */
}
.grass__layer--1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("./svgs/ground/layer-1.svg");
    /* background: url("./images/landscape/layer-def-2.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;   
}
.grass__layer--2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("./svgs/ground/layer-2.svg");
    /* background: url("./images/landscape/layer-def-2.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}
.house {
    position: absolute;
    bottom: 40%;
    left: 40%;
    z-index: 2;
    width: 300px;
    height: 300px;
    background: url("./svgs/house.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hell {
    width: 100%;
    height: 2000px;
    background-color: transparent;
    background-color: blue;
    position: relative;
}
/*
.house {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 40%;
    height: 100%;
    background: url("./images/house.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    
}
*/
/*color: rgb(229, 168, 122);*/
/*

*/
/*
.parallax__stage{
    height: 100vh;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
    perspective: 1;
}
.parallax__layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.parallax__layer--0{
    background-color: rgba(0,0,0,calc(1 / 10));
    transform: translateZ(-3px)
}

.parallax__layer--1{
    background-color: rgba(0,0,0,calc(2 / 10));
    transform: translateZ(-2px)
}
.parallax__layer--2{
    background-color: rgba(0,0,0,calc(3 / 10));
    transform: translateZ(-1px)
}
*/
