* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(54,0,25,1) 90%); */
    background: rgb(17, 17, 17);
    font-family: 'Nunito';
}

.sky {
    min-height: 200vh;
    width: 100%;
    /* background: url("./images/stars.png");
    background-repeat: repeat; */
    position: relative;
    overflow: hidden;
}
.sky .principal-info {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(54,0,25,1);
    padding-bottom: 2rem;
}
.sky .principal-info .first-half {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.sky .principal-info .first-half > div{
    width: 100%;
}
.sky .principal-info .second-half {
    display: none;
}
.sky .principal-info .first-half .name-of-mark {
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sky .principal-info .first-half .name-of-mark span {
    color: rgba(255,255,255,1);
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 3rem;
    /* font-weight: bold; */
    text-align: center;
}
.sky .principal-info .first-half .summary-of-mark {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sky .principal-info .first-half .summary-of-mark span{
    color: white;
    font-family: 'Nunito';
    text-align: center;
}
.sky .principal-info .first-half .submit{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.sky .principal-info .first-half .submit .submit-button{

}
.sky .principal-info .first-half .submit button{
    position: relative;
    border: none;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(195, 195, 195);
    font-family: 'Nunito';
    /* background-color: rgb(84, 3, 41); */
    border-radius: 2rem;
    background: none;
    cursor: pointer;
    box-shadow: -2px -2px 8px rgba(84, 3, 41, 1),
                -2px -2px 12px rgba(84, 3, 41, .5),
                inset 2px 2px 4px rgba(84, 3, 41, .1),
                2px 2px 8px rgba(0,0,0,.8);
}
.sky .principal-info .first-half .submit button:hover{    
    box-shadow: inset -2px -2px 8px rgba(84, 3, 41, 1),
                inset -2px -2px 12px rgba(84, 3, 41, .5),
                inset 2px 2px 4px rgba(84, 3, 41, .1),
                inset 2px 2px 8px rgba(0,0,0,.8);
}
.sky .principal-info .first-half .submit button:hover span{
    transform: scaleY(-10);
}

.container-slider-knowledges {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito';
}
.container-slider-knowledges .divisor-top{
    width: 110%;
    z-index: 2;
    position: relative;
    top: -.5rem; 
}
.container-slider-knowledges .divisor-top picture{
    width: 100%;
}
.container-slider-knowledges .divisor-top img{
    width: 100%;
}
.container-slider-knowledges .title-for-slider{
    width: 100%;
    background-color: rgb(17, 17, 17);
    padding-top: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-slider-knowledges .title-for-slider span{
    padding: 1rem 0;
    color: rgb(195, 195, 195);
}
.container-slider-knowledges .footer-for-slider{
    width: 100%;
    background-color: rgb(17, 17, 17);
    padding-top: 2rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-slider-knowledges .divisor-bottom{
    width: 110%;
    z-index: 2;
    transform: rotate(180deg);
    position: relative;
    top: .5rem;
}
.container-slider-knowledges .divisor-bottom picture{
    width: 100%;
}
.container-slider-knowledges .divisor-bottom img{
    width: 100%;
}
.container-slider-knowledges .main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.container-slider-knowledges .second-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: rgb(195, 195, 195);
    opacity: 1;
    z-index: 1;
    background-color: rgb(17, 17, 17);
}
/*
.container-slider-knowledges .second-container:nth-child(1){
    background-color: rgb(12, 42, 69);
}
.container-slider-knowledges .second-container:nth-child(2){
    background-color: rgb(81, 100, 60);
}
.container-slider-knowledges .second-container:nth-child(3){
    background-color: rgb(32, 103, 84);
}
.container-slider-knowledges .second-container:nth-child(4){
    background-color: rgb(17, 17, 17);
}
.container-slider-knowledges .second-container:nth-child(5){
    background-color: rgb(213, 153, 44);
}
.container-slider-knowledges .second-container:nth-child(5) .info{
    color: rgb(17, 17, 17)
}
.container-slider-knowledges .second-container:nth-child(6){
    background-color: rgb(199, 40, 81);
    color: rgb(17, 17, 17);
}
*/
.container-slider-knowledges .second-container:nth-child(2n){
    flex-direction: row-reverse;
}
.container-slider-knowledges .second-container .image{
    width: 40%;
}
.container-slider-knowledges .second-container .info{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem .5rem;
}

.container-slider-knowledges .second-container.first {
    display: flex;
    animation-name: second-container-first;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    opacity: 1;
    
}
@keyframes second-container-first{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.container-slider-knowledges .second-container .menu .title{
    margin: 1rem 0 0 0;
}
.container-slider-knowledges .second-container .menu .title span{
    text-transform: uppercase;
}

.container-slider-knowledges .second-container .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-slider-knowledges .second-container .menu picture{
    display: flex;
    justify-content: center;
}
.container-slider-knowledges .second-container .menu picture img{
    width: 100%;
}
.container-slider-knowledges .second-container .menu .buttons{
    display: flex;
}
.container-slider-knowledges .second-container .menu button{
    background: black;
    border: 0.1rem rgba(255, 255, 255, 0.1) solid;
    margin: 1rem 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(248, 81, 73);
    font-weight: bold;
    font-size: 1.5rem;
}
.area-for-astronaut{
    height: 80px;
    position: absolute;
    left: calc(50% - 37.5px);
    top: -50px;
    z-index: 2;
}
.area-for-astronaut img{
    height: 100%;
}
.divisor{
    width: 90%;
    position: relative;
    border-top: .1rem rgba(255, 255, 255, 0.1) solid;
}
.container-who-can-i-help{
    width: 100%;
    position: relative;
    font-family: 'Nunito';
}
.container-who-can-i-help .main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(54,0,25,1);
}
.container-who-can-i-help .main-container .title{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.container-who-can-i-help .main-container .title span{
    margin: 1rem 0;
    color: rgb(195, 195, 195);
    font-weight: bolder;
}
.container-who-can-i-help .main-container .items{
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-who-can-i-help .main-container .items .who-can-i-help-item{
    background-color: rgb(84, 3, 41);
    border-radius: .5rem;
    margin-bottom: 2rem;
    width: 90%;
    position: relative;
    display: flex;
    padding: 1rem;
    box-shadow: 2px 2px 8px rgba(0,0,0,.8);
}
.container-who-can-i-help .main-container .items .who-can-i-help-item .image{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-who-can-i-help .main-container .items .who-can-i-help-item .image picture{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-who-can-i-help .main-container .items .who-can-i-help-item .image img{
    height: 100%;
    width: 50%;
}
.container-who-can-i-help .main-container .items .who-can-i-help-item .info{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(195, 195, 195);
    padding: 1rem;    
}
.container-prices{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito';
}
.container-prices .header-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-prices .header-container span{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding-top: 3rem;
}
.container-prices .main-container{
    width: 100%;
    height: 90%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-prices .swiper{
    width: 100%;
    height: 100%;
}
.container-prices .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-prices .price-item{
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: white;
    box-shadow: 1rem 1rem 2rem black;
}
.container-prices .price-item > .title{
    width: 100%;
    height: 20%;
    background: linear-gradient(90deg, rgb(21, 23, 122) 0%, rgb(38, 41, 224) 100%);
    display: flex;
    flex-direction: column;
    color: rgb(195, 195, 195);
    text-transform: uppercase;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-prices .price-item > .title > .divisor{
    margin-top: .5rem;
    width: 50%;
    height: .1rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    position: relative;
    border: none;
}
.container-prices .price-item .price, .container-prices .price-item .divisor-bottom{
    width: 100%;
    height: 10%;
    background: linear-gradient(90deg, rgb(29, 32, 167) 0%, rgb(43, 46, 255) 100%);
}
.container-prices .price-item .divisor-bottom{
    position: relative;
    top: 0px;
}
.container-prices .price-item .price{
    position: relative;
    top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .5rem;
    color: rgb(195, 195, 195);
}
.container-prices .price-item .specs{
    width: 100%;
    height: 60%;
    position: relative;
    top: -1px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.container-prices .price-item .specs .title{
    margin: 1rem 0 1rem 1rem;
    font-weight: bold;
}
.container-prices .price-item .specs .content{
    margin: 0 0 0 .5rem;
}
.container-prices .price-item .specs .container-choose{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.container-prices .price-item .specs .container-choose button{
    padding: 1rem;
    margin: 1rem;
    border: .2rem rgb(43, 46, 255) solid;
    border-radius: 1rem;
    background: none;
    color: rgb(43, 46, 255);
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.container-prices .swiper-pagination-bullet-active{
    --swiper-theme-color: black;
}
.container-prices .swiper-button-prev{
    left: 0;
    display: none;
}
.container-prices .swiper-button-next{
    right: 0;
    display: none;
}
.container-prices .swiper-button-prev::after{
    content: "";
}
.container-prices .swiper-button-next::after{
    content: "";
}
.container-prices .swiper-slide-shadow{
    display: none;
}

.container-comments{
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
}
.container-comments .header-container{
    width: 100%;
    height: 10%;
    color: white;
    font-family: 'Nunito';
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-comments .header-container span{
    padding-top: 3rem;
}
.container-comments .main-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-comments .swiper{
    width: 100%;
    height: 100%;
}
.container-comments .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-comments .comment-item{
    width: 80%;
    height: 50%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 1rem 1rem 1rem black;
}
.container-comments .comment-item .container{
    width: 100%;
    height: 100%;
    background-color: rgb(32, 31, 31);
    display: flex;
    flex-direction: column;
}
.container-comments .comment-item .header{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    padding: 1rem;    
}
.container-comments .comment-item .header .profile-photo{
    overflow: hidden;
    height: 100%;   
    border-radius: 100%;
    margin-left: 1rem;
    background-color: rgb(17, 17, 17);    
}
.container-comments .comment-item .header .profile-photo picture{
    height: 100%; 
}
.container-comments .comment-item .header .profile-photo img{
    height: 100%;
}
.container-comments .comment-item .header .score{
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;    
    align-items: center;
    color: rgb(195, 195, 195);
}
.container-comments .comment-item .main{
    width: 100%;
    height: 60%;
    color: rgb(195, 195, 195);
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-comments .comment-item .main span{
    padding: 1rem;
}
.container-comments .comment-item .footer{
    width: 100%;
    height: 15%;
    font-size: 1.3rem;
    color: rgb(195, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-comments .comment-item .footer span{
    padding: 1rem;
    font-weight: 100;
}
.container-comments .swiper-pagination-bullet-active{
    --swiper-theme-color: white;
}
.container-comments .swiper-button-prev{
    left: 0;
    display: none;
}
.container-comments .swiper-button-next{
    right: 0;
    display: none;
}
.container-comments .swiper-button-prev::after{
    content: "";
}
.container-comments .swiper-button-next::after{
    content: "";
}
.container-comments .swiper-slide-shadow{
    display: none;
}

body footer{
    width: 100%;
    height: 20vh;
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, black 90%);
}