* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(54,0,25,1) 90%); */
    background: rgb(17, 17, 17);
    font-family: sans-serif;
}

.sky {
    min-height: 200vh;
    width: 100%;
    /* background: url("./images/stars.png");
    background-repeat: repeat; */
    position: relative;
    overflow: hidden;
}
.sky .principal-info {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(54,0,25,1);
    padding-bottom: 2rem;
}
.sky .principal-info .first-half {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.sky .principal-info .first-half > div{
    width: 100%;
}
.sky .principal-info .second-half {
    display: none;
}
.sky .principal-info .first-half .name-of-mark {
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sky .principal-info .first-half .name-of-mark span {
    color: rgba(255,255,255,1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.sky .principal-info .first-half .summary-of-mark {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sky .principal-info .first-half .summary-of-mark span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.sky .principal-info .first-half .submit{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
.sky .principal-info .first-half .submit .submit-button{

}
.sky .principal-info .first-half .submit button{
    position: relative;
    border: none;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(195, 195, 195);
    background: none;
    cursor: pointer;
}
.sky .principal-info .first-half .submit button::before{
    border: 0.1rem rgb(84, 3, 41) solid;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-5px, -5px);
}
.sky .principal-info .first-half .submit button::after{
    border: 0.1rem rgb(84, 3, 41) solid;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(5px, 5px);
}

.container-slider-knowledges {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-slider-knowledges .divisor-top{
    width: 110%;
    z-index: 2;
    position: absolute;
    top: -.5rem; 
}
.container-slider-knowledges .divisor-top picture{
    width: 100%;
}
.container-slider-knowledges .divisor-top img{
    width: 100%;
}
.container-slider-knowledges .title-for-slider{
    width: 100%;
    background-color: rgb(17, 17, 17);
    padding-top: 6rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-slider-knowledges .title-for-slider span{
    padding: 1rem 0;
    color: rgb(195, 195, 195);
}
.container-slider-knowledges .footer-for-slider{
    width: 100%;
    background-color: rgb(17, 17, 17);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-slider-knowledges .divisor-bottom{
    width: 110%;
    z-index: 2;
    transform: rotate(180deg);
    position: relative;
    top: .5rem;
}
.container-slider-knowledges .divisor-bottom picture{
    width: 100%;
}
.container-slider-knowledges .divisor-bottom img{
    width: 100%;
}
.container-slider-knowledges .main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.container-slider-knowledges .second-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: rgb(195, 195, 195);
    opacity: 1;
    z-index: 1;
    background-color: rgb(17, 17, 17);
}
/*
.container-slider-knowledges .second-container:nth-child(1){
    background-color: rgb(12, 42, 69);
}
.container-slider-knowledges .second-container:nth-child(2){
    background-color: rgb(81, 100, 60);
}
.container-slider-knowledges .second-container:nth-child(3){
    background-color: rgb(32, 103, 84);
}
.container-slider-knowledges .second-container:nth-child(4){
    background-color: rgb(17, 17, 17);
}
.container-slider-knowledges .second-container:nth-child(5){
    background-color: rgb(213, 153, 44);
}
.container-slider-knowledges .second-container:nth-child(5) .info{
    color: rgb(17, 17, 17)
}
.container-slider-knowledges .second-container:nth-child(6){
    background-color: rgb(199, 40, 81);
    color: rgb(17, 17, 17);
}
*/
.container-slider-knowledges .second-container:nth-child(2n){
    background-color: rgba(54,0,25,1);
}

.container-slider-knowledges .second-container:nth-child(2n){
    flex-direction: row-reverse;
}
.container-slider-knowledges .second-container .image{
    width: 40%;
    background-color: rgb(17, 17, 17);
}
.container-slider-knowledges .second-container .image picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-slider-knowledges .second-container .image img{
    width: 100%;
}
.container-slider-knowledges .second-container .info{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem .5rem;
}

.container-slider-knowledges .second-container.first {
    display: flex;
    animation-name: second-container-first;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    opacity: 1;
    
}
@keyframes second-container-first{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.container-slider-knowledges .second-container .menu .title{
    margin: 1rem 0 0 0;
}
.container-slider-knowledges .second-container .menu .title span{
    text-transform: uppercase;
}

.container-slider-knowledges .second-container .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-slider-knowledges .second-container .menu picture{
    display: flex;
    justify-content: center;
}
.container-slider-knowledges .second-container .menu picture img{
    width: 100%;
}
.container-slider-knowledges .second-container .menu .buttons{
    display: flex;
}
.container-slider-knowledges .second-container .menu button{
    background: black;
    border: 0.1rem rgba(255, 255, 255, 0.1) solid;
    margin: 1rem 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(248, 81, 73);
    font-weight: bold;
    font-size: 1.5rem;
}
.area-for-astronaut{
    height: 80px;
    position: absolute;
    left: calc(50% - 37.5px);
    top: -50px;
    z-index: 2;
}
.area-for-astronaut img{
    height: 100%;
}
.divisor{
    width: 90%;
    position: relative;
    border-top: .1rem rgba(255, 255, 255, 0.1) solid;
}
.container-who-can-i-help{
    width: 100%;
    position: relative;
}
.container-who-can-i-help .main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(54,0,25,1);
}
.container-who-can-i-help .main-container .title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-who-can-i-help .main-container .title span{
    margin: 1rem 0;
    font-size: 1.5rem;
    color: rgb(195, 195, 195);
    font-weight: bold;
}
.container-who-can-i-help .main-container .items{
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-who-can-i-help .main-container .items .who-can-i-help-item{
    background-color: rgb(84, 3, 41);
    border-radius: .5rem;
    width: 90%;
    position: relative;
    display: flex;
    padding: 1rem;
    box-shadow: inset .3rem .3rem 1rem rgb(17, 17, 17),
                inset -.3rem -.3rem 1rem rgb(17, 17, 17);
}
.container-who-can-i-help .main-container .items .who-can-i-help-item .image{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-who-can-i-help .main-container .items .who-can-i-help-item .image picture{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-who-can-i-help .main-container .items .who-can-i-help-item .image img{
    height: 100%;
}
.container-who-can-i-help .main-container .items .who-can-i-help-item .info{
    width: 70%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(195, 195, 195);
    padding: 1rem;    
}